 <%  layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col-8 offset-2">
      <br> <br>
    <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input name="listing[title]" placeholder="enter a catchy title" type="text" class="form-control" required />  
   <div class="valid-feedback">Title looks good</div>
      </div>
    
    <div class="mb-3">
      <label for="description" class="form-label">Enter Description</label>
      <textarea name="listing[description]"  class="form-control" required></textarea>
      <div class="valid-feedback">please enter a short  Description</div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input name="listing[image]"placeholder="enter image URL/Link"type="text" class="form-control"/> 
    </div>
  <div class="row">
    <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
      <input name="listing[price]" placeholder="enter price" class="form-control" required/>
      <div class="valid-feedback">please enter a valid price</div>
    </div>

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="india...." type="text" class="form-control" required/>
        <div class="valid-feedback">please enter a valid Country name</div>
      </div>
    </div>

<div class="mb-3">
  <label for="location" class="form-label">Location</label>
  <input name="listing[location]" placeholder="Banglore,Goa...." type="text" class="form-control" required/>
      <div class="valid-feedback">please enter a valid location</div>

    </div>

    <br/> <br/>
      <button class="btn btn-dark add-btn">Add</button>
      <br> <br>
    </form>
  </div>
  </div>
 
<!-- </body> -->
<!-- </html> -->